<!DOCTYPE html>
<html>
<head>
    <title>Article2Audio</title>
</head>
<body>
    <h1>Article2Audio</h1>
    <form id="audioForm" method="POST">
        <input type="text" name="url" placeholder="Enter article URL" required>
        <input type="submit" value="Convert to Audio">
    </form>

    <div id="loadingMessage" style="display: none;">    <p>Processing your request. Please wait...</p></div>

    {% if estimated_time %}
        <p>Estimated processing time: {{ estimated_time }}</p>
    {% endif %}

<script>
    document.getElementById('audioForm').addEventListener('submit', function() {
        console.log("load message");
        document.getElementById('loadingMessage').style.display = 'block';
    });
</script>

</body>
</html>
